.mdlLayoutHeader {
  color: #1d1d1d;
}

.row {
  padding: 40px;
  color: #1d1d1d;
}

.title {
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {

  .mdlLayoutHeader {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }

}
